# Nix
.direnv/
result*
.pre-commit-config.yaml

# Python
.venv
**/__marimo__/session
**/__marimo__/cache
**/__pycache__
.ruff_cache

# Julia
Project.toml
Manifest.toml

# Quarto
.quarto/
**/*.quarto_ipynb
_extensions/
